<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOGS">../logs</Property>
        <Property name="patternConsole">%d %p %C{1.} [%t] %m%n</Property>
        <Property name="patternFile">%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternConsole}" />
        </Console>

        <RollingFile name="rootLogger" fileName="${LOGS}/root-logger.log"
            filePattern="${LOGS}/$${date:yyyy-MM}/root-logger-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="${patternFile}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="crm"
            fileName="${LOGS}/modules/crm-logger.log"
            filePattern="${LOGS}/$${date:yyyy-MM}/crm-logger-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="${patternFile}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="sms"
            fileName="${LOGS}/modules/sms-logger.log"
            filePattern="${LOGS}/$${date:yyyy-MM}/sms-logger-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="${patternFile}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="email"
            fileName="${LOGS}/modules/email-logger.log"
            filePattern="${LOGS}/$${date:yyyy-MM}/email-logger-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="${patternFile}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="billing"
            fileName="${LOGS}/modules/billing-logger.log"
            filePattern="${LOGS}/$${date:yyyy-MM}/billing-logger-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="${patternFile}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="inventory"
            fileName="${LOGS}/modules/inventory-logger.log"
            filePattern="${LOGS}/$${date:yyyy-MM}/inventory-logger-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="${patternFile}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="voicemail"
            fileName="${LOGS}/modules/voicemail-logger.log"
            filePattern="${LOGS}/$${date:yyyy-MM}/voicemail-logger-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="${patternFile}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="jmessage"
            fileName="${LOGS}/modules/jmessage-logger.log"
            filePattern="${LOGS}/$${date:yyyy-MM}/jmessage-logger-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout pattern="${patternFile}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="rootLogger" />
        </Root>
        <!-- LOG each module and its application to the respective appenders -->
        <Logger name="org.example.teletomo.crm" level="trace">
            <AppenderRef ref="crm" />
        </Logger>
        <Logger name="org.example.teletomo.modules.crm" level="trace">
            <AppenderRef ref="crm" />
        </Logger>

        <Logger name="org.example.teletomo.sms" level="trace">
            <AppenderRef ref="sms" />
        </Logger>
        <Logger name="org.example.teletomo.modules.sms" level="trace">
            <AppenderRef ref="sms" />
        </Logger>

        <Logger name="org.example.teletomo.email" level="trace">
            <AppenderRef ref="email" />
        </Logger>
        <Logger name="org.example.teletomo.modules.email" level="trace">
            <AppenderRef ref="email" />
        </Logger>

        <Logger name="org.example.teletomo.billing" level="trace">
            <AppenderRef ref="billing" />
        </Logger>
        <Logger name="org.example.teletomo.modules.billing" level="trace">
            <AppenderRef ref="billing" />
        </Logger>

        <Logger name="org.example.teletomo.inventory" level="trace">
            <AppenderRef ref="inventory" />
        </Logger>
        <Logger name="org.example.teletomo.modules.inventory" level="trace">
            <AppenderRef ref="inventory" />
        </Logger>

        <Logger name="org.example.teletomo.voicemail" level="trace">
            <AppenderRef ref="voicemail" />
        </Logger>
        <Logger name="org.example.teletomo.modules.voicemail" level="trace">
            <AppenderRef ref="voicemail" />
        </Logger>

        <Logger name="org.example.teletomo.internalcoms" level="trace">
            <AppenderRef ref="internalcoms" />
        </Logger>
        <Logger name="org.example.teletomo.modules.internalcoms" level="trace">
            <AppenderRef ref="internalcoms" />
        </Logger>

        <Logger name="org.example.teletomo" level="trace">
            <AppenderRef ref="rootLogger" />
        </Logger>
    </Loggers>

</Configuration>